@model IEnumerable<QuizDataLibrary.Answer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCorrect)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AnswerId }) |
                @Html.ActionLink("Details", "Details", new { id=item.AnswerId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AnswerId })
            </td>
        </tr>
}
    </tbody>
</table>
